@import url('https://fonts.googleapis.com/css2?family=azeret+Neue&family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@600&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './styles/variables.scss';

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
