@import './variables.scss';

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 35vh;
  width: 35vw;

  @keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
  .spin::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px var(--slateOpaque);
    border-bottom-color: var(--pink);
    border-radius: 50%;
    content: '';
    height: 3rem;
    width: 3rem;
    position: absolute;
    margin-left: 20.5rem;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
  }

  .time {
    margin: 0.25rem 0;
    font-size: 20px;
    letter-spacing: 0.25rem;
    font-family: $bebas;
    font-weight: bolder;
  }

  .list-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 97%;
    background-color: var(--slate);
    border: 2px solid var(--pink);

    button {
      border: none;
      color: var(--pink);
      background-color: var(--black);
      padding: 0.25rem;
      font-family: $lato;
      font-weight: bolder;
      min-width: 8rem;
      border-radius: 0.25rem;

      &:hover {
        background-color: var(--blackOpaque);
      }
    }

    h1 {
      margin: 0 0 0rem 0;
      color: var(--pink);
    }

    .lists {
      display: flex;
      flex-direction: row;
      width: 100%;

      .link-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        list-style-type: none;
        display: -ms-flexbox; /* IE 10 */
        display: -webkit-flex; /* Safari 6.1+. iOS 7.1+ */
        -webkit-flex-flow: wrap column; /* Safari 6.1+ */
        flex-flow: column wrap;
        align-items: left;
        align-content: center;
        max-height: 140px; /* Limit height */

        a {
          text-decoration: none;
          color: var(--white);
          font-size: 15px;

          &:visited {
            color: var(--white);
          }
          .link-chip {
            text-align: center;
            font-family: $roboto;
            background-color: var(--black);
            border-radius: 0.25rem;
            padding: 0.25rem 0.5rem;
            margin: 0.25rem 0.25rem;
            min-width: 4rem;
            cursor: pointer;

            &:hover {
              background-color: var(--pink);
              color: var(--black);
            }
          }
        }
      }
    }
  }

  .center-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  img {
    margin-left: 0.25rem;
    padding: 2px;
    background-color: var(--pink);
    height: 97%;
    object-fit: cover;
    overflow: hidden;
    max-width: 10rem;
  }

  #search {
    display: flex;
    width: 100%;

    input {
      flex-grow: 1;
      border: 2px solid var(--pink);
      color: var(--white);
      background-color: var(--black);

      &:focus {
        outline: none;
      }
    }
  }

  #file-input {
    display: none;
  }
}
